*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

div{
    display: block;

}



#menu {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    

}
.allmenu{
    position: relative;
    top: 0;
    margin: 15px;
    padding: 25px;
    background-color: rgb(198, 203, 207);
    border: 3px solid black;
    

}
.allmenu p{
  margin-top: 18px;
  text-align: justify;
  font-size:100%;
}
.hone{
    position: absolute;
    text-align: right;
    top: 0px;
    right: 0px;
    background: lightblue;
    padding: 6px 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid #000;

}
#chicken{
    background-color:  #D59898;
 
}

#beef{
    background-color: #C14543;
}
#sushi{
    background-color: #f3e193;
}

@media (min-width: 992px){
  .col-lg-4 {
    float: left;  
    width: 33.33%;
  }
  }



  @media (min-width: 768px) and (max-width: 991px){
    .col-lg-4{
        float: left;
        width: 50%;
    }
    .col-lg-tablet{
        float: left;
        width: 100%;
    }
  }




  @media (max-width: 767px){
    .col-lg-4{
        float: left;
        width: auto;

    }
  }